   body {
  margin: 40px;
  grid-template-areas:
  "....... header header"
  "sidebar content content"
  "footer footer footer";
  background-color: #d815be;
}

.sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
    "....... header header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #d815be;
    color: #3a0be7;
  }


.box {
  background-color: #161313;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #d47ea2;
}